<h1>Medication Status in <%= @pharmacy.name %></h1>
<div>
  <% @pharmacy.medications.each do |medication| %>
    <div><%= link_to medication.name, pharmacy_medications_path(medication) %> 
    <%= medication.quantity %>
</div> 
  <% end %>
</div>