<div>
  <% @prescriptions.each do |prescription| %>
    <%= link_to prescription.pharmacy.name, pharmacy_path(prescription.pharmacy) %>
    <%= prescription.patient.name%>
    <%= prescription.medication.name %>
    <%= prescription.medication.quantity_dispensed %>
    
      
      <br>   
    
  <% end %>
</div>