<div class="container container-fluid">
<h1> </h1><br>
<h1>  </h1><br>
<h1>  </h1><br>

<h1>Welcome <%= @user.first_name %> <%= @user.last_name %></h1>
<p>Your Email Is Listed As: <%= @user.email %></p>
<img src="<%= @user.image %>">
</div>






 
