<%= form_for(@patient) do |f| %>

  <label>Patient Name:</label><br>
  <%= f.text_field :name %><br>

  <label>Patient Age</label><br>
  <%= f.text_field :patient %><br>


  <%= f.submit %>
<% end %>
</form>
  